<div class="viewEscalation">
    <form #a="ngForm" (ngSubmit)="advanceEscalation(a)">
        <h3>Review Escalation</h3>
        <h3>{{ escalation.title }}</h3>
        <div class="existingNotes">
            <h3>Note History</h3>
            <div class="escalationNotes" [innerHTML]="note" *ngFor="let note of escalation.notes"></div>
        </div>
        <label for="note">Note: </label>
        <editor [init]="editorConfig" name="note" ngModel required></editor>
        <label for="files">Files:</label>
        <input type="file" name="files" multiple ngModel (change)="chooseFiles($event)">
        <div class="files">
            <a [href]="url" *ngFor="let url of fileUrls" target="_blank">{{ url.substring(url.lastIndexOf('-') + 1) }}</a>
        </div>
        <button type="submit">Advance Escalation</button>
        <button type="button" (click)="deleteEscalation()">Resolve Escalation</button>
    </form>
</div>