<div class="container">
    <h3>Create Update</h3>
    <form #f="ngForm" (ngSubmit)="createUpdate(f)">
        <div class="group">
            <label for="title">Title: </label>
            <input type="text" name="title" ngModel required>
        </div>
        <label for="files">Files:</label>
        <input type="file" name="files" multiple ngModel (change)="chooseFiles($event)">
        <editor [init]="editorConfig" name="text" ngModel required></editor>
        <button type="submit">Create Update</button>
    </form>
</div>
<app-update-detail (updated)="updateComponent()" *ngFor="let u of updates" [uId]="u._id"></app-update-detail>