<div class="container">
    <form (ngSubmit)="login(f)" #f="ngForm" *ngIf="!resetRequest">
        <h1>Login</h1>
        <div class="group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        <div class="group">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" ngModel required>
        </div>
        <div class="group">
            <button type="submit">Login</button>
            <button type="button" (click)="switchReset()">Reset Password</button>
        </div>
    </form>
    <form (ngSubmit)="sendReset(r)" #r="ngForm" *ngIf="resetRequest">
        <h1>Reset Password</h1>
        <div class="group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        <button type="submit">Submit</button>
        <button type="button" (click)="switchReset()">Back to Login</button>
    </form>
    <div class="alertMessage" *ngIf="alert">
        <h3>{{ alert }}</h3>
    </div>
</div>