header {
    border-bottom: thin solid darkgrey;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    height: 100px;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: auto auto;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

header li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    height: fit-content;
}

header .icon {
    position: absolute;
    top: 0;
    left: 0;
}

header .icon img {
    width: 100px;
}