<header>
    <div class="icon"><img src="../assets/efficient-comms-logo.png" alt="Efficient Comms"></div>
    <ul class="desktopNav">
        <li (click)="selectDash()" *ngIf="loggedIn">Dashboard</li>
        <li (click)="selectUpdates()" *ngIf="loggedIn && role !== 'Admin'">All Updates</li>
        <li (click)="logOut()" *ngIf="!loggedIn">Login</li>
        <li (click)="logOut()" *ngIf="loggedIn">Logout</li>
    </ul>
    <div class="hamburger" (click)="mobileNav()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>
<div class="mobileNav" [ngClass]="{'hidden': !mobileNavigation}">
    <ul>
        <li (click)="selectDash()" *ngIf="loggedIn">Dashboard</li>
        <li (click)="selectUpdates()" *ngIf="loggedIn && role !== 'Admin'">All Updates</li>
        <li (click)="logOut()" *ngIf="!loggedIn">Login</li>
        <li (click)="logOut()" *ngIf="loggedIn">Logout</li>
    </ul>
</div>
<div class="alert" *ngIf="alertMessage">
    <h3>{{ alertMessage }}</h3>
</div>
<router-outlet></router-outlet>