<div class="container">
    <form (ngSubmit)="createUser(c)" #c="ngForm">
        <div class="group">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" ngModel required>
        </div>
        <div class="group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        <div class="group">
            <label for="role">Role: </label>
            <select name="role" id="role" ngModel required>
                <option value="Admin">Admin</option>
                <option value="Manager">Manager</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="group">
            <label for="teamId">Team: </label>
            <select name="teamId" id="teamId" ngModel required>
                <option [value]="team.id" *ngFor="let team of teams">{{ team.name }}</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <button type="submit">Create User</button>
    </form>
    <form #u="ngForm" (ngSubmit)="updateUser(u)">
        <div class="group">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" ngModel required>
        </div>
        <div class="group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        <div class="group">
            <label for="role">Role: </label>
            <select name="role" id="role" ngModel required>
                <option value="Admin">Admin</option>
                <option value="Manager">Manager</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="group">
            <label for="peerReviewer">Peer Reviewer: </label>
            <select name="peerReviewer" id="peerReviewer" ngModel required>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <button type="submit">Update User</button>
    </form>
    <div *ngIf="!deleteActive">
        <h1>Need to delete a team?</h1>
        <button (click)="activateDelete()">Activate Delete Form</button>
    </div>
    <form *ngIf="deleteActive" (ngSubmit)="deleteUser(d)" #d="ngForm">
        <div class="group">
            <label for="userId">User: </label>
            <select name="userId" id="userId" ngModel required>
                <option [value]="user.id" *ngFor="let user of users">{{ user.name }}</option>
            </select>
        </div>
        <button type="submit">Delete Team</button>
    </form>
</div>
