button {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px black;
    cursor: pointer
}

button:hover {
    animation: 1s buttonHover ease-in-out forwards
}

@keyframes buttonHover {
    0% {
        box-shadow: 2px 2px 2px black
    }
    100% {
        box-shadow: none
    }
}