<div class="container">
    <h3 *ngIf="role === 'Member'">Create Escalation</h3>
    <form #c="ngForm" (ngSubmit)="createEscalation(c)" *ngIf="role === 'Member'">
        <div class="group">
            <label for="title">Title: </label>
            <input type="text" name="title" ngModel required>
        </div>
        <label for="files">Files:</label>
        <input type="file" name="files" multiple ngModel (change)="chooseFiles($event)">
        <label for="note">Note: </label>
        <editor [init]="editorConfig" name="note" ngModel required></editor>
        <button type="submit">Create Escalation</button>
    </form>
    <app-escalation-detail (deleted)="updateComponent()" [eId]="e._id" *ngFor="let e of escalations"></app-escalation-detail>
</div>